@tailwind base;
@tailwind components;
@tailwind utilities;

/* .cards-container{
    perspective: 1000px;
} */
.card{
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.318);
  transform: translateX(0%) rotateY(0deg);
  opacity: 0;
  transition:  transform 0.5s ease,opacity 0.3s ease;
}
.card.active{
  transform: translateX(0) rotateY(0deg); 
  opacity: 1;
}
.card.left{
  transform: translateX(100%) rotateY(0deg);  
  transition:  transform 0.5s ease,opacity 0.3s ease-in;
}
.card.right{
    transform: translateX(-100%) rotateY(0deg);  
    transition:  transform 0.5s ease,opacity 0.3s ease-in;
}